/* Headers */
h3 {
    margin-bottom: 1rem !important;
}

h4 {
    margin-bottom: 1rem !important;
}

.pointer {
    cursor: pointer;
}

/* Min widths */
.min-width-250 {
    min-width: 250px;
}

/* Max widths */
.max-width-600 {
    max-width: 600px;
}

.max-width-650 {
    max-width: 650px;
}

.max-width-700 {
    max-width: 700px;
}

.max-width-960 {
    max-width: 960px;
}

.display-none {
    display: none;
}

/* Form elements */
.invalid-feedback {
    font-size: 100% !important;
}

/* Toast */
.toast-container {
    position: absolute;
    top: 3rem;
    right: 3rem;
    min-width: 300px;
    z-index: 1000;
    display: none;
}

.toast {
    max-width: 350px;
}

@media (max-width: 576px) {
    .toast-container {
        width: 100%;
        bottom: 0;
        top: initial;
        right: initial;
    }

    .toast {
        max-width: 100% !important;
    }
}

/* Video element */
.video-js {
    max-width: 100%;
}

/* Video list card */
.video-list {
    padding: 1rem;
}

.video-list > .card-header {
    padding: 0;
}

.video-list > .card-header > .material-icons {
    position: relative;
    top: 12px;
}

.video-list > .card-header > .thumbnail {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.video-list > .card-block > .card-title {
    font-size: 1.2rem;
    padding-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-list > .card-block > .card-text {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 21px;
    max-height: 24px;
    /*noinspection CssUnknownProperty*/
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Video grid */
.video-grid {
    height: 100%;
}

.video-grid > .card-body > .card-title {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-grid > .card-body > .card-text {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-videos {
    padding-top: 7rem;
}

/* Tag element */
.tag {
    padding: 7px 10px;
    margin: 5px;
    border-radius: 1.2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Select form in select modal */
.select-form {
    max-height: 350px;
    overflow-y: auto;
}