{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="mx-auto max-width-700">
        <h4>Upload</h4>
        <form id="upload" action="{% url 'core:upload' %}" class="dropzone" enctype="multipart/form-data">
            {% csrf_token %}
        </form>
        <a id="status-btn" href="{% url 'core:upload_status' %}" class="btn btn-primary my-3">
            Check upload status
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/upload/upload.js' %}"></script>
{% endblock %}