{% load static %}
<form id="playlist-form" method="post">
    {% csrf_token %}

    <input name="playlist" value="{{ playlist.url }}" type="hidden">
    <input name="videos" type="hidden">

    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" value="{{ playlist.name }}">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control"
                  rows="3">{% if playlist.description != None %}{{ playlist.description }}{% endif %}</textarea>
    </div>

    <div class="d-flex">
        <button type="button" class="btn btn-primary mr-1 px-2" data-toggle="modal" data-target="#video-modal">
            Select videos
        </button>
        {% if page != strings.Page.ADD_PLAYLIST %}
            <button type="button" class="btn btn-primary px-2" onclick="redirectToPlaylist('{{ playlist.url }}')">
                Go to playlist
            </button>
            <button type="button" class="btn btn-outline-danger ml-auto mx-1 px-2" onclick="clickDelete()">Delete</button>
        {% endif %}
        <button type="button" class="btn btn-primary px-2 {% if page == strings.Page.ADD_PLAYLIST %}ml-auto{% endif %}"
                onclick="submitForm()">Submit
        </button>
    </div>
</form>

{% include 'select-modal.html' with modal_id='video-modal' modal_title='Select videos' objects=videos submit='addVideoToPlaylist()' %}

<script src="{% static 'js/playlist/playlist-form.js' %}"></script>