{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="mx-auto max-width-960">
        <video id="video" class="video-js vjs-default-skin w-100" controls>
            <source src="{{ video.public_url }}" type="application/x-mpegURL">
        </video>
        <a href="/video/{{ video.url }}/edit/" class="text-white"><h4 id="title" class="mt-3">{{ video.name }}</h4></a>
        {% if video.description != None %}
            <p id="description">{{ video.description }}</p>
        {% endif %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#playlist-modal">
            Add to playlist
        </button>
        {#<button type="button" class="btn btn-primary" onclick="redirectToEditVideo('{{ video.url }}')">Edit</button>#}
    </div>

    {% include 'select-modal.html' with modal_id='playlist-modal' modal_title='Add to playlist' objects=playlists submit='addVideoToPlaylist()' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/video/video.js' %}"></script>
{% endblock %}