{% load static %}

<div class="mx-auto max-width-700">
    {% for video in videos %}
        <div class="video-list card flex-row flex-wrap my-3 {% if video.status == strings.Constant.READY %}pointer{% endif %}"
             onclick="redirectToVideo('{{ video.url }}')" data-url="{{ video.url }}">
            {% if video.status == strings.Constant.READY %}
                <div class="card-header border-0 px-1">
                    <img class="thumbnail rounded" src="{{ video.get_thumbnail_public_url }}" alt="thumbnail">
                </div>
            {% endif %}
            <div class="card-block px-1">
                <h5 class="card-title">{{ video.name }}</h5>
                {% if video.description != None and video.description != '' %}
                    <p class="card-text mb-1">{{ video.description }}</p>
                {% endif %}
                <p class="card-text mb-1">ergeo iergo erjg eoirgjoerjg eorjgoerjg ioergjerogjerogji eoirgj erogi erigj
                    erjig joegj iegjiergjoergjioerjgio eriog joerjiog ejiorgji oejoig jeiorgj ioejgio eijog </p>

                {% if page == strings.Page.UPLOAD_STATUS %}
                    <a href="/video/{{ video.url }}/edit/" class="btn btn-primary my-2">Edit</a>
                {% endif %}

                {% if page == strings.Page.UPLOAD_STATUS %}
                    <div class="card-footer w-100 font-italic px-0">
                        <p class="d-inline">STATUS: </p>
                        <p class="d-inline video-status"></p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h5 class="no-videos text-center">There are no videos found.</h5>
    {% endfor %}
</div>

<script src="{% static 'js/video/video-list.js' %}"></script>
<script src="{% static 'js/thumbnail/thumbnail.js' %}"></script>